set / interface ethernet-1/1 subinterface 0 ip-mtu 9000
set / interface ethernet-1/1 subinterface 0 ipv4
set / interface ethernet-1/1 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/1 subinterface 0 ipv4 address 192.168.11.2/30
set / interface ethernet-1/2 subinterface 0 ip-mtu 9000
set / interface ethernet-1/2 subinterface 0 ipv4
set / interface ethernet-1/2 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/2 subinterface 0 ipv4 address 192.168.21.2/30

# system interface configuration
set / interface system0 subinterface 0 ipv4 admin-state enable
set / interface system0 subinterface 0 ipv4 address 10.0.1.1/32

# associating interfaces with net-ins default
set / network-instance default interface ethernet-1/1.0
set / network-instance default interface ethernet-1/2.0
set / network-instance default interface system0.0

# routing policy
set / routing-policy policy all
set / routing-policy policy all default-action
set / routing-policy policy all default-action policy-result accept


# BGP configuration
set / network-instance default protocols bgp autonomous-system 20001
set / network-instance default protocols bgp router-id 10.0.1.1
set / network-instance default protocols bgp group eBGP export-policy all
set / network-instance default protocols bgp group eBGP import-policy all
set / network-instance default protocols bgp afi-safi ipv4-unicast admin-state enable
set / network-instance default protocols bgp neighbor 192.168.11.1 peer-as 10001
set / network-instance default protocols bgp neighbor 192.168.11.1 peer-group eBGP
set / network-instance default protocols bgp neighbor 192.168.21.1 peer-as 10002
set / network-instance default protocols bgp neighbor 192.168.21.1 peer-group eBGP


